{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--<div class="container my-5">-->
<!--    <h2>Add Product</h2>-->
<!--    <form method="POST" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button type="submit" class="btn btn-primary">Add Product</button>-->
<!--    </form>-->
<!--</div>-->

<div class="container my-5">
    <h2>Add Product</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Add Product</button>

<!--        &lt;!&ndash; Add Delete and Update buttons &ndash;&gt;-->
<!--        <button type="submit" name="update" class="btn btn-warning">Update Product</button>-->
<!--        <button type="submit" name="delete" class="btn btn-danger">Delete Product</button>-->
    </form>
</div>


{% endblock %}


